/* Global styles */
body{
    padding: 0;
    margin: 0;
}

/* Header styles */
header nav {
    display: flex;
    justify-content: space-around;
    padding: 24px;
}
.logo{
    text-decoration: none;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
    
}
.logo span{
    color: #000;
}

.header__nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 294px;
}

a{
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-family: "Roboto";
}
a:hover{
    color: #2196F3;
    transition: 0.3s;
    cursor: pointer;    
}
.address{
    margin: auto 0;
}
.address a:last-child{
    padding-left: 90px;
}

/* Hero styles */
.hero{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2F303A;
    height: 600px;
    color: #fff;
}
.hero_section{
   margin: auto 0;
}
.hero h1 {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    margin-bottom: 1.5em;
}

.hero a{
    color: #fff;
    background-color: #2196F3;
    padding: 1em 2em;
    border-radius: 4px;
}

/*style peculiarities*/
.peculiarities{
    width: 1170px;
    margin: 0 auto;
    font-family: "Roboto";
}
.peculiarities_section{
    display: flex;
    justify-content: center;
}
.peculiarities_section ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.peculiarities_list{
    width: 270px;
    list-style-type: none;
    padding: 94px 0 94px 0;
}
.peculiarities_list:not(:last-child) {
    padding-right: 30px;
}
.peculiarities_list h3{
    font-size: 14px;
    font-weight: 700;
    color: #212121
    ;
}
.peculiarities_list p{
    font-size: 14px;
    font-weight: 400;
    color: #757575
    ;
}



.team_card>img {
    width: 270px;
}